
form{
    background-color: rgb(215, 207, 207) !important;
    padding: 30px;
    border-radius: 20px;
    width:70%;
}
h2{
    color: #950b0b;
    width:70%;
}
.alert{
    width: 70% ;
}

button,label,h2{
    letter-spacing: 2px;
}

.marg{
    margin-bottom: 110px !important;
}

@media screen and (max-width:900px) {
    form,h2,.alert{
    width:100%;

    }
}