<div class="item ">
    <div routerLink="/details/{{data.id}}" >
        <img [src]="data.image" alt="">
        <div class="body">
            <h4>{{data.title}}</h4>
            <p>{{data.description}}</p>
        </div>
    </div>

    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <button class="btn btn-success" *ngIf="!addBtn" (click)="addBtn=true">Add To cart</button>
        <div class="d-flex w-50" *ngIf="addBtn">
            <input type="number" class="form-control w-50" [(ngModel)]="amount">
            <button class="btn btn-danger w-50 mx-1" (click)="add() ; addBtn=false">Add</button>        </div>
        <span>{{data.price}} $</span>
    </div>
</div>
