<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>Quick Links</h3>
                <ul>
                    <li>Home</li>
                    <li>Products</li>
                    <li>Featured</li>
                    <li>Deal</li>
                    <li>Review</li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h3>Extra Links</h3>
                <ul>
                    <li>Our Account</li>
                    <li>Our Favourit</li>
                    <li>Our Cart</li>
                    <li>Our Order</li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h3>Download Links</h3>
                <ul>
                    <li>Windows Store</li>
                    <li>App Store</li>
                    <li>Play Store</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Contact Us</h3>
                <ul>
                    <li><i class="fa-brands fa-whatsapp"></i> +20 120 301 4616</li>
                    <li><i class="fa-regular fa-envelope"></i> eid284933@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i> Minia, Egypt</li>
                    <img src="../../../../assets/payment.png" alt="">
                </ul>
            </div>
        </div>
        <hr>
        <div class="copRigh">
            <p>Created By <span> <a target="_blank" href="https://www.linkedin.com/in/ahmed-eid-fathy/"> Ahmed Eid </a> </span> <i class="fa-regular fa-copyright"></i> All Right Reversed</p>
        </div>
    </div>
</footer>





































<!-- <footer class=" text-center ">
    <div class="cntnt p-3">
        <div>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100009248987931" ><i class="fab mx-2 fa-facebook"></i></a>
            <a ><i class="fab mx-2 fa-instagram"></i></a>
            <a ><i class="fab mx-2 fa-youtube"></i></a>
            <a ><i class="fab mx-2 fa-twitter"></i></a>
            <a ><i class="fab mx-2 fa-whatsapp"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/ahmed-eid-18032217a" ><i class="fab mx-2 fa-linkedin"></i></a>
        </div>
    
        <div class="pt-2 cprit">
             <i class="far fa-copy"></i>
             <span class="mx-2 fw-bold">Designed By : </span>
             <span><a href="https://www.linkedin.com/in/ahmed-eid-18032217a" class="mx-2">Ahmed Eid</a></span>
             <i class="far fa-copyright"></i>
        </div>
    </div>

</footer> -->
