
.item{
    width: 100%;
    text-decoration: none;
    color: #333;
    margin: 15px auto;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba( 0, 0, 0, 0.2);
    transition:  0.3s ease-in-out;
    overflow: hidden;

    img {
        width: 100%;
        height: 350px;
        transition:  0.3s ease-in-out;
    }
    .body{
        padding-top: 0;
        p{
            color: white;
        }
    }
    h4{
        height: 75px;
        overflow: hidden;
        padding: 5px 15px;
        font-size: 18px;
        background-color: #eee;
        font-weight: 600;
        margin-top: 10px;
    }
    p{
        margin: 15px 0;
        height: 75px;
        overflow: hidden;
        font-size: 18px;
        padding: 5px 15px;
    }

    span{
        background-color: #fff;
        padding: 3px 7px;
        border-radius: 30px;
    }
    
    .cntnt{
        position: absolute ;
        top: 100%;
        bottom: -100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.5s ease ;
        .adSccs{
            border: solid 1px #198754;
            border-radius: 10px;
            color: white;
            background-color: #198754;
            transition: 0.5s ease;
            &:hover{
                color: #198754;
                background-color: white;
            }
        }

        .adDngr{
            border: solid 1px #dc3545;
            border-radius: 10px;
            color: white;
            background-color: #dc3545;
            transition: 0.5s ease;
            &:hover{
                color: #dc3545;
                background-color: white;
            }
        }
    }
    &:hover{
        .cntnt{
            top: 0;
            bottom: 0;
        }
        img{
            transform: scale(1.1);
        }
    }

    .dtls{
        border: none;
        border-radius: 10px;
        width: 60%;
        letter-spacing: 3px;
        background: linear-gradient(to right, #950b0b, #440606 );
        color: white;
        transition: 0.5s ease;
        &:hover{
            background: white;
            color: #950b0b;
        }
    }
}

@media only screen and (max-width:770px) {

    .item{
        img{
            height: 550px;
        }
    }
    
}
