
<div class="mt-5">


    <div class="my-2 w-25">
        <app-dropdown [title]="'Category'" [data]="categorys" (filtering)="filterCategory($event)" ></app-dropdown>
    </div>


    <div *ngIf="err" class="alert alert-danger">{{err}}</div>

    
    <div class="row marg my-5" *ngIf="!loading">
        <div *ngFor="let product of products" class ="col-lg-3 col-md-6 col-sm-12">
            <app-products [data]="product" (item)="addCart($event)"></app-products>
        </div>
    </div>

</div>

<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>