
<div class="container ">
    <div class="box" *ngIf="!loading">
        <div class="w-100 links mb-5">
            <span class="product p-2 rounded-4 mx-1" routerLink="/products">Products</span>
            <span class="active p-2 rounded-4 details">Details</span>
        </div>
        
        <div class="row ">
            <div class="col-lg-5 mb-5">
                <img [src]="data.image" alt="">
            </div>
            <div class="col-lg-6 marg offset-1">
                <div class="info ">
                    <ul class="list-unstyled">
                        <li><strong>Title :</strong> {{data.title}}</li>
                        <li><strong>Category :</strong> {{data.category}}</li>
                        <li><strong>Description :</strong> {{data.description}}</li>
                        <li><strong>Rate :</strong> {{data.rating.rate}}</li>
                        <li><strong>Count :</strong> {{data.rating.count}}</li>
                        <li><strong>Price :</strong> {{data.price}} $</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <div *ngIf="loading" class="mt-5 pt-5">
        <app-spinner></app-spinner>
    </div>
</div>

