


footer{
    // background: linear-gradient(to right, rgba(149, 11, 11,0.3), rgba(68, 6, 6, 0.3) );
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;

    a{
        transition: 0.5s ease;
        color: white;
    }
    a:hover{
        cursor: pointer;
        color: rgb(221, 177, 96);
    }
    .cprit a{
        letter-spacing: 5px;
        color: white;
        text-decoration: none;
        font-weight: bolder;
    }
    .cprit a:hover{
        color: rgb(221, 177, 96);
    }
    
    div{
        // width: max-content;
        margin: auto;
    }
    .cntnt{
        width: 50%;
        background: linear-gradient(to right, rgb(149, 11, 11), rgba(68, 6, 6) );
        color: white;
        border-radius: 20px;
    }
}


@media only screen  and (max-width: 900px) {
    
    .cntnt{
        width: 90% !important;
    }
}